#content {
    max-width: 1600px;
    /*div is a block element so to center we need margin 0 auto
    0 means nothing up and down auto centers left to right for second input*/
    margin: 0 auto;
}
nav a, #hero-msg h1, #hero-msg h4, .button-box, main section {
    text-align: center;
    color: #F68121;
    text-decoration: none;
}
#background {
    height: 725px;
}
body, header, .book, .join, #background, .msg, footer {
    background-color: #8DD8F5;
    color: #F68121;
    text-decoration: none;
}
nav a:hover, .book:hover, .join:hover {
    background-color: #04AFF1;
    color: #F68121;
    text-decoration: none;
}
#hero-img {
    background-color: white;
    width: 100%;
}
.icon, .logo {
    width: 80px;
}
footer a {
    text-decoration: none;
}